ion-content {
  --background: #3b43be;
}

ion-card { 
  --background: white !important;
}

.bitcoin__header {
  background-color: #29308f;
  height: 180px;
}

.bitcoin__disclaimer {
  color: white;
  text-align: center;
  padding: 6px;
}

.bitcoin__logo {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  color: white;
}